.gallery {
    font-family: 'DM Sans',sans-serif;
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}


.category {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
}

.category img {
    width: 100%;
    height: 100%;
}

.category p {
    font-size: clamp(0.4rem,3vw,1.5rem);
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}

.action {
    background-color: var(--orange);
    border: 6px solid var(--orange);
}

.drama {
    background-color: var(--light-violet);
    border: 6px solid var(--light-violet);
}
.romance {
    background-color: var(--dark-green);
    border: 6px solid var(--dark-green);
}
.thriller {
    background-color: var(--light-blue);
    border: 6px solid var(--light-blue);
}
.western {
    background-color: var(--brown);
    border: 6px solid var(--brown);
}
.horror {
    background-color: var(--indigo);
    border: 6px solid var(--indigo);
}
.fantasy {
    background-color: var(--pink);
    border: 6px solid var(--pink);
}
.music {
    background-color: var(--red);
    border: 6px solid var(--red);
}
.fiction {
    background-color: var(--light-green);
    border: 6px solid var(--light-green);
}

.green-border {
    border: 6px solid var(--green);
}