.home-page {
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto',sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

.content-section {
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.user-weather {
    display: flex;
    flex-direction: column;
}

.nav-section {
    height: 10%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
}

.nav-section button {
    margin-left: auto;
    padding: 0.5rem 2rem;
}

@media screen and (max-width: 550px) {
    .content-section {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .content-section {
        flex-direction: row;
        gap:3rem;
        padding: 2rem 3rem;
        margin-top: 2rem;
    }

    .left-section {
        width: 70%;
    }

    .inner-left {
        display: flex;
        height: 60%;
    }
    .user-weather {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px ) {
    .content-section {
        flex-direction: column;
    }

    .left-section {
        width: 100%;
    }

    .user-weather {
        width: 70%;
    }
}