.home-page {
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto',sans-serif;
    color: var(--white);
    overflow-x: hidden;
    height: 120dvh;
}

.home-page::-webkit-scrollbar {
    display: none;
}

.content-section {
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.user-weather {
    display: flex;
    flex-direction: column;
}

.nav-section {
    height: 10%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

.nav-section button {
    margin-left: auto;
    padding: 0.5rem 2rem;
    margin-right: 1.5rem;
    transform: translateY(-1rem);
    color: var(--white);
    background-color: var(--green-fade);
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.8rem,1.5vw,1.2rem);
    padding: 0.5rem 1rem;
    max-height: 2rem;
    border: 1px solid var(--dark-green);
    border-radius: 40px;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .content-section {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .content-section {
        flex-direction: row;
        gap:3rem;
        padding: 2rem 3rem;
        margin-top: 2rem;
    }

    .left-section {
        width: 70%;
    }

    .inner-left {
        display: flex;
        height: 60%;
    }
    .user-weather {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px ) {
    .content-section {
        flex-direction: column;
    }

    .left-section {
        width: 100%;
    }

    .user-weather {
        width: 100%;
    }
}