.notes {
    margin-top: 2rem;
    background-color: var(--yellow);
    color: black;
    border-radius: 21px;
    padding: 2rem;
    min-height: 40vh;
    flex-grow: 1;
}

.notes h3 {
    font-size: clamp(1.5rem,2.5vw,2.5rem);
    margin: 0;
    margin-bottom: 2rem;
}

.write-notes {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
} 

.notes textarea {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background: transparent;
    border: 1px solid transparent;
    outline: 1px solid transparent;
}

textarea::-webkit-scrollbar {
    display: none;
}

.write-notes::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    
}

.write-notes::-webkit-scrollbar-thumb {
    background-color: var(--light-yellow);
    border-radius: 20px;
}


@media screen and (min-width: 1000px) {
    .notes {
        margin-top: 0;
        width: 60%;
        margin-left: 3rem;
    }
}