.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-form input {
    background-color: var(--black-fade);
    color: var(--green);
    height: clamp(3.5rem,6vh,5rem);
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    position: relative;
}

.register-form input::placeholder {
    font-size: 1.2rem;
    position: absolute;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field p{
    margin-top: 0.5rem;
    color: var(--red);
}

.checking {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checking input {
    cursor: pointer;
}

.checking p {
    color: var(--gray);
}

.error {
    margin: 0;
    color: var(--red);
}

.register {
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;    
    font-size: 1.5rem;
    border-radius: 28px;
    cursor: pointer;
}

.register:hover {
    background-color: var(--green-secondary);
}
