:root {
  --white: rgba(255, 255, 255, 1);
  --black-fade: rgba(41, 41, 41, 1);
  --gray: rgba(124, 124, 124, 1);
  --light-gray: rgba(148, 148, 148, 1);
  --dark-gray:rgb(44, 40, 40);
  --green: rgba(114, 219, 115, 1);
  --orange: rgba(255, 82, 9, 1);
  --light-violet: rgba(215, 164, 255, 1);
  --dark-green: rgba(20, 138, 8, 1);
  --green-secondary: rgb(114, 243, 99);
  --green-fade: rgb(39, 169, 25);
  --light-blue: rgba(132, 194, 255, 1);
  --brown: rgb(144, 37, 0, 1);
  --indigo: rgba(115, 88, 255, 1);
  --blue-600: rgba(87, 70, 234, 1);
  --blue-300: rgba(159, 148, 255, 1);
  --blue-900: rgba(16, 23, 68, 1);
  --blue-700: rgba(30, 35, 67, 1);
  --blue-800: rgba(25, 30, 57, 1);
  --purple: rgba(255, 74, 222, 1)
  --light-red: rgba(255, 106, 106, 1);
  --pink: rgba(255, 74, 222, 1);
  --red: rgba(230, 30, 50, 1);
  --light-red: rgba(255, 106, 106, 1);
  --light-green: rgba(108, 208, 97, 1);
  --yellow: rgba(241, 199, 91, 1);
  --light-yellow: rgba(255, 230, 166, 1);
  --black: rgba(0, 0, 0, 0.74);
  --dark: rgba(23, 21, 21, 0.74);
  --black-shadow: rgba(0, 0, 0, 0.61);
  --gray-shadow: rgba(95, 88, 88, 0.23);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  position: relative;
}

* {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}
